<div class="card ">
  <div class="card-header bg-light">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="text-dark"> <span class="fa fa-bars"></span> Stages</h1>
      </div>
      <div class="col-sm-2">
        <select class="form-control" [(ngModel)]="showenStages">
          <option value="active">Active Stages</option>
          <option value="tout">Tout Stages</option>
        </select>
      </div>

    </div>

  </div>
  <div class="card-body">
    <app-list-etudiant *ngIf="selectedTable == 'Etudiants'"></app-list-etudiant>
    <app-list-encadreur *ngIf="selectedTable == 'Encadreurs'"></app-list-encadreur>
    <app-list-jury *ngIf="selectedTable == 'Juries'"></app-list-jury>
  <div *ngIf="selectedTable == 'Stages'" class="row">
    <div class="col-md-5">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="chercher stage .."  [(ngModel)]="searchStage" (input)="chercher()">
        <input type="date" class="form-control" *ngIf="searchByDate" [(ngModel)]="searchStage">
        <div class="input-group-append">
          <button class="btn btn-outline-dark" (click)="chercher()"><span class="fa fa-search"></span></button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">Chercher par</label>
        </div>
        <select class="custom-select"   [(ngModel)]="search">
          <option selected disabled [ngValue]="'-SELECT-'" class="text-center">-SELECT-</option>
          <option value="1">Sujet</option>
          <option value="2" (click)="searchByDate = true">Date début</option>
          <option value="3" (click)="searchByDate = true">Date fin</option>
          <option value="4">Organisme d'accueil</option>
        </select>
      </div>
    </div>

    <div  class="col-md-2 ">
      <div class="dropdown">
        <button class="btn btn-dark btn-block dropdown-toggle shadow-sm" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false" type="button" id="colsDropdown">Colonnes</button>
        <div class="dropdown-menu shadow-sm" aria-labelledby="colsDropdown">
          <div class="dropdown-item"><input  type="checkbox" (change)="columns.id = !columns.id" [checked]="columns.id" > ID </div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.sujet = !columns.sujet" [checked]="columns.sujet"> Sujet</div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.dateDebut = !columns.dateDebut" [checked]="columns.dateDebut"> Date début</div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.dateFin = !columns.dateFin" [checked]="columns.dateFin"> Date Fin</div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.status = !columns.status" [checked]="columns.status"> Statu</div>
          <div class="dropdown-item" ><input type="checkbox" (change)="columns.etudiants = !columns.etudiants" [checked]="columns.etudiants"> Etudiants</div>
          <div class="dropdown-item" ><input type="checkbox" (change)="columns.encadreurs = !columns.encadreurs" [checked]="columns.encadreurs"> Encadreurs</div>
          <div class="dropdown-item" *ngIf="role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE'"><input type="checkbox" (change)="columns.juries = !columns.juries" [checked]="columns.juries"> Juries</div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.rapport = !columns.rapport" [checked]="columns.rapport"> Rapport</div>
          <div class="dropdown-item"><input type="checkbox" (change)="columns.organisme = !columns.organisme" [checked]="columns.organisme"> struture d'accueil</div>
          <div class="dropdown-item" *ngIf="role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE'"><input type="checkbox" (change)="columns.convention = !columns.convention" [checked]="columns.convention">Convention</div>
          <div class="dropdown-item" *ngIf="role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE'"><input type="checkbox" (change)="columns.actions = !columns.actions" [checked]="columns.actions"> Actions</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 ">
      <div class="dropdown">
        <button class="btn bg-light btn-block dropdown-toggle shadow-sm" data-toggle="dropdown" aria-expanded="false">Order par</button>
        <ul class="dropdown-menu shadow-sm" role="menu">
          <li class="dropdown-item" (click)="changeOrder('desc','id')">noveaux</li>
          <li class="dropdown-item" (click)="changeOrder('asc','id')">anciens</li>
          <li class="dropdown-item" (click)="changeOrder('desc','sujet')">Ordre alphabétique</li>
        </ul>
      </div>
    </div>
    <div *ngIf="showenStages == 'active'" class="col-sm-4 offset-8 mt-3">
      <div *ngIf="role == 'COORDINATEUR_ROLE' " class="btn-group float-right">
        <button  class="btn btn-light shadow-sm" (click)="plannig()">Planning <span class="fa fa-calendar"></span></button>
        <button   class="btn btn-dark shadow-sm" (click)=" chargerPv()">PV <span class="fa fa-file"></span></button>
      </div>  
    </div>
    <div  *ngIf="selectedStages.length>0 && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')"  class="col-md-3 mt-2 offset-5">
      <div class="btn-group">
        <button class="btn btn-danger shadow-sm" (click)="deleteAll()">Suprimer <span class="fa fa-trash"></span></button>
        <button class="btn btn-primary mx-1 shadow-sm" (click)="activateAll()">Activer <span class="fa fa-check"></span></button>
      </div>

    </div>
    <div class="col-md-12">
      <flash-messages></flash-messages>
      <div class="table-responsive">
        <table class="table table-striped   my-4  shadow">
          <thead>
          <tr>
            <th *ngIf="role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE'" class="text-center"><input type="checkbox" (click)="addAllToSelectedStages()" ></th>
            <th class="text-center" *ngIf="columns.id">ID</th>
            <th class="text-center" *ngIf="columns.sujet">Sujet</th>
            <th class="text-center" *ngIf="columns.dateDebut">Date Début</th>
            <th class="text-center" *ngIf="columns.dateFin">Date Fin</th>
            <th class="text-center" *ngIf="columns.status">Status</th>
            <th class="text-center" *ngIf="columns.etudiants && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">Etudiants</th>
            <th class="text-center" *ngIf="columns.encadreurs && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">Encadreurs</th>
            <th class="text-center" *ngIf="columns.juries && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">Juries</th>
            <th class="text-center" *ngIf="columns.organisme">Organisme d'accueil</th>
            <th class="text-center" *ngIf="columns.rapport">Rapport</th>
            <th class="text-center" *ngIf="columns.convention && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">Convention</th>
            <th class="text-center" *ngIf="columns.actions && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stage of stagePage.content | sortBy: tableOrder.order:tableOrder.prop">
            <td *ngIf="role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE'"><input type="checkbox" [checked]="existeInSelectedStage(stage)" (click)="addToSelectedStages(stage)"></td>
            <td *ngIf="columns.id" class="text-center">{{stage.id}}</td>
            <td *ngIf="columns.sujet" class="text-center">{{stage.sujet}}</td>
            <td *ngIf="columns.dateDebut" class="text-center">{{stage.dateDebut}}</td>
            <td *ngIf="columns.dateFin" class="text-center">{{stage.dateFin}}</td>
            <td *ngIf="columns.status" class="text-center"><span *ngIf="stage.statu == true" class="text-success font-weight-bold">
             <span class="badge badge-success">Active</span>
           </span>
              <span *ngIf="stage.statu == false" class=" font-weight-bold text-warning">
            <span class="badge badge-warning">Inactive</span>
           </span>
            </td>
            <td *ngIf="columns.etudiants && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')" class="text-center">
              <button class="btn bg-transparent border-0"><i class="fa "  (click)="showEtudiants(stage.id)" [class.fa-caret-down]="showEtudiant.id!=stage.id" [class.fa-caret-up]="showEtudiant.id==stage.id "></i></button>
              <ul *ngIf="showEtudiant.id == stage.id && showEtudiant.show" class="list-group list-group-flush">
                <li class="list-group-item text-left" *ngFor="let se of stage.stageEtudiants">
                  <p><b>CNE :</b>{{se.etudiant.cin}}</p>
                  <p><b>Nom:</b> {{se.etudiant.user.nom}}</p>
                  <p><b>Prénom :</b> {{se.etudiant.user.prenom}}</p>
                </li>
              </ul>
            </td>
            <td *ngIf="columns.encadreurs && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')" class="text-center">
              <button class="btn bg-transparent border-0"><i class="fa "  (click)="showEncadreurs(stage.id)" [class.fa-caret-down]="showEncadrant.id!=stage.id" [class.fa-caret-up]="showEncadrant.id==stage.id "></i></button>
              <ul *ngIf="showEncadrant.id == stage.id && showEncadrant.show" class="list-group list-group-flush">
                <li class="list-group-item text-left" *ngFor="let se of stage.stageEncadreurs">
                  <p><b>Nom et Prénom :</b>{{se.encadreur.user.nom}} {{se.encadreur.user.prenom}}</p>
                  <p><b>Télé:</b> {{se.encadreur.user.tele}}</p>
                  <p><b>Email :</b> {{se.encadreur.user.username}}</p>
                </li>
              </ul>
            </td>
            <td *ngIf="columns.juries && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')" class="text-center">
              <button class="btn bg-transparent border-0"><i class="fa "  (click)="showJuries(stage.id)" [class.fa-caret-down]="showjury.id!=stage.id" [class.fa-caret-up]="showjury.id==stage.id "></i></button>
              <ul *ngIf="showEtudiant.id == stage.id && showjury.show" class="list-group list-group-flush">
                <li class="list-group-item text-left" *ngFor="let se of stage.stageMembreJuries">
                  <p><b>Nom et Prénom :</b>{{se.membreJury.user.nom}} {{se.membreJury.user.prenom}}</p>
                  <p><b>Télé:</b> {{se.membreJury.user.tele}}</p>
                  <p><b>Email :</b> {{se.membreJury.user.username}}</p>
                </li>
              </ul>
            </td>
            <td *ngIf="columns.organisme" class="text-center"><span *ngIf="stage.organismeAccueil">{{stage.organismeAccueil.raisonSociale}}</span>
              <span *ngIf="stage.organismeAccueil == null "><span data-toggle="tooltip" data-placement="top" title="Ajouter la structure d'accueil" class="fa fa-plus-circle text-success fa-2x" data-toggle="modal" data-target="#organismeModal" (click)="ajouterStructure(stage)"></span></span>
            </td>
            <td *ngIf="columns.rapport" class="text-center">
              <button *ngIf="stage.rapport != null" class="btn btn-danger" data-toggle="modal" data-target="#ViewrapportModal" (click)="diaplayRapport(stage.rapport)"><span class="fa fa-file-pdf-o"></span></button>
              <button *ngIf="stage.rapport == null" class="btn btn-info" data-toggle="modal" data-target="#rapportModal" (click)="setStageRef(stage.reference)"><span class="fa fa-upload"></span></button>
            </td>
            <td *ngIf="columns.convention && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">
              <button class="btn-sm btn-warning shadow-sm" data-toggle="modal" data-target="#conventionModal"  (click)="conventioner(stage)"><span class="fa fa-file"></span></button>
            </td>
            <td *ngIf="columns.actions && (role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')">
              <div class="btn-group btn-group-sm">
                <button class="btn-sm btn-danger" (click)="delete(stage)" data-toggle="modal" data-target="#alertModal"><span class="fa fa-trash"  data-toggle="tooltip" data-placement="top" title="Suprimer"></span></button>
                <button  class="btn-sm btn-success" (click)="stageView(stage)"><span class="fa fa-eye"  data-toggle="tooltip" data-placement="top" title="Détaill"></span></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  </div>
  <div *ngIf="selectedTable == 'Stages'" class="card-footer d-flex justify-content-center align-items-center">
    <nav class="text-center m-auto">
      <ul *ngIf="searchStage.length == 0"  class="pagination">
        <li class="page-item">
          <select class="form-control" [(ngModel)]="size" (change)="resizePage()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </li>
        <li class="page-item" (click)="getIndexPage(0)"><a class="page-link" >premier</a></li>
        <li class="page-item" [class.disabled]="stagePage.first">
          <a class="page-link"  aria-label="Previous" (click)="prevElements()" >
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let i of tableElements" (click)="getIndexPage(i)"><a class="page-link">{{i+1}}</a></li>

        <li class="page-item" (click)="nextElements()" [class.disabled]="stagePage.last">
          <a class="page-link"  aria-label="Next" >
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item"><span class="page-link text-dark"><span *ngIf="stagePage.last">{{stagePage.totalElements}}</span><span *ngIf="!stagePage.last">{{(stagePage.number+1)*size}}</span> de {{stagePage.totalElements}}</span></li>
        <li class="page-item" (click)="getIndexPage(stagePage.totalPages-1)"><a class="page-link" >dernier</a></li>
      </ul>
    </nav>
  </div>
</div>

<app-rapport></app-rapport>
<app-rapport-display></app-rapport-display>
<app-ajouter-organisme></app-ajouter-organisme>
<app-convention *ngIf="(role == 'COORDINATEUR_ROLE' || role == 'ADMIN_ROLE')"></app-convention>
