<nav class="navbar  navbar-expand-lg navbar-light bg-white shadow mb-3">
  <a routerLink="../encadrant/profile" class="navbar-brand"><img src="../../../../assets/logoStage.png" alt="fstg logo"
                                                                 style="height:40px;width:160px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="bg-light">
        <a [routerLink]="['../encadrant/stage/archive']" class="nav-link text-dark">Stages <span
          class="fa fa-bars"></span></a>
      </li>
      <li class="nav-item" routerLinkActive="bg-light">
        <a [routerLink]="['../encadrant/tache/archive']" class="nav-link text-dark">Tâche <span
          class="fa fa-tasks"></span></a>
      </li>
      <li class="nav-item" routerLinkActive="bg-light">
        <a [routerLink]="['../encadrant/forum']" class="nav-link text-dark">Forum <span class="fa fa-commenting"></span></a>
      </li>

      <li class="nav-item dropleft mx-2" routerLinkActive="bg-light">
        <img src="{{picture}}" alt="profile"
             class="rounded-circle border-dark dropdown-toggle shadow-sm" data-toggle="dropdown" role="button"
             aria-expanded="false" style="height: 40px;width: 40px">
        <ul class="dropdown-menu shadow" role="menu">
          <li class="dropdown-item" routerLinkActive="bg-light">
            <a [routerLink]="['../encadrant/edit']" class="text-dark btn-link text-decoration-none">Profile <span
              class="fa-pull-right fa fa-user-circle"></span></a>
          </li>
          <li class="dropdown-item">
            <button class="text-dark btn-link bg-transparent border-0" (click)="logout()">Déconnexion <span
              class=" fa fa-sign-out"></span></button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
