<div class="row">
  <div class="col-md-10 col-sm-12">
    <div class="card shadow-sm">
      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>

      <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="card">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="col-md-2 order-sm-first order-md-last col-sm-12">
    <div class="card">
      <div class="card-header bg-dark text-center text-white"><h2><span class="fa fa-list"></span> Menu Rapide</h2></div>
    </div>
    <ul class="list-group list-group-flush shadow-sm">
      <li class="list-group-item list-group-item-action"><a href="#">Active Stages</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Les conventions de stage</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Génerer le planing des soutenances</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Génere le Pv</a></li>

    </ul>
  </div>
</div>
