<div class="row">
  <div class="col-md-10 col-sm-12">
    <div class="card shadow-sm">
      <app-list-stages></app-list-stages>
    </div>
  </div>
  <div class="col-md-2 order-sm-first order-md-last col-sm-12">
    <div class="card">
      <div class="card-header bg-dark text-center text-white"><h2><span class="fa fa-list"></span> Menu Rapide</h2></div>
    </div>
    <ul class="list-group list-group-flush shadow-sm">
      <li class="list-group-item list-group-item-action"><a href="#">Active Stages</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Les conventions de stage</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Génerer le planing des soutenances</a></li>
      <li class="list-group-item list-group-item-action"><a href="#">Génere le Pv</a></li>
    </ul>
  </div>
</div>
