<div class="table-responsive">
  <table class="table table-striped   my-4  shadow">
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Sexe</th>
      <th>Tele</th>
      <th>Adress</th>
      <th>Nationalité</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Abida</td>
      <td>Hassan</td>
      <td>abidahass@gmail.com</td>
      <td>Home</td>
      <td>0659416875</td>
      <td>sidi abbad geuliz marrakech</td>
      <td>marocaine</td>
      <td>Etudiant</td>
      <td>
        <button class="btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Verifier"><span class="fa fa-thumbs-up"></span></button>
        <button class="btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Editer"><span class="fa fa-pencil"></span></button>
        <button class="btn-sm btn-danger"><span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Supprimer"></span></button>
      </td>
    </tr>
  </table>
</div>

