<section class="row my-4 mx-2">
  <div class="col-md-9 row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-header bg-success text-white text-center">
          <h3><i class="fa fa-file"></i>  Stage Active</h3>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header bg-dark text-white"><b>Sujet :</b> {{stage}}</div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item"><b>Structure d'accueil:</b> NorSys</li>
                <li class="list-group-item"><b>Encadrant:</b> {{encadrant}}</li>
                <li class="list-group-item"><b>Date debut de stage:</b> 06-04-2020</li>
                <li class="list-group-item"><b>Date fin de stage:</b> 06-06-2020</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer"><button class="btn btn-block btn-outline-success"  (click)="uploadRapport">Uploder Le rapport  <i class="fa fa-upload"></i></button></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3><i class="fa fa-tasks"></i> Tâches</h3>
        </div>
        <div class="card-body">
          <ul class="list-group ">
            <li class="list-group-item">
              <p>Conception generale de projet.. <a href="#">Voir plus</a></p>
              <p><i class="fa fa-user"></i> Taha benjelon </p>
              <p><i class="fa fa-calendar-alt mx-2"></i> <span>Crée Le:12-04-2020</span><span class="mx-4">Date limit:20-04-2020</span></p>
              <p>Uploader un rapport: <button class="btn btn-dark"><span class="fa fa-upload"></span></button></p>
              <button class="btn btn-warning">pas encore valider</button><button class="btn btn-sm btn-outline-success float-right" disabled><i class="fa fa-check"></i></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item bg-warning">Archive des documents</li>
      <li class="list-group-item">Rapport de stage <a href="#" class="btn btn-sm btn-outline-light text-dark"><i class="fa fa-eye"></i></a> <a href="#" class="btn btn-sm btn-outline-light text-dark"><i class="fa fa-download"></i></a></li>
    </ul>
  </div>
</section>
