<div class="row card ">
  <div class="card-header bg-dark text-white">
    <h1><span class="fa fa-dashboard"></span> Dashboard</h1>
    <div class="input-group">
      <div class="input-group-prepend"> <button class="btn btn-sm bg-white" (click)="search = !search"><span class="fa fa-search-plus" [class.fa-search-plus]="!search" [class.fa-search-minus]="search"></span></button></div>
      <input type="text" class="form-control" placeholder="Chercher ..." *ngIf="search" id="search">
      <div *ngIf="search" class="input-group-append "><div class="input-group-text btn btn-primary"><span class="fa fa-search"></span> Chercher </div></div>
    </div>

  </div>
  <div class="card-body row">
    <div class="col-md-3">
        <div class="card bg-info shadow">
          <div class="card-body text-white">
            <h2><span class="fa fa-users"></span> Utilisateurs {{nombreUsers}}</h2>
          </div>
          <div class="card-footer align-content-end">
            <a href="#" class="card-link text-white" >voir plus <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-success shadow">
        <div class="card-body text-white">
          <h2><span class="fa fa-tasks"></span> Stages {{nombreStages}}</h2>
        </div>
        <div class="card-footer align-content-end">
          <a href="#" class="card-link text-white" >voir plus <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white shadow">
        <div class="card-body text-dark">
          <h2><span class="fa fa-file-pdf-o"></span> Rapports {{nombreRepport}}</h2>
        </div>
        <div class="card-footer align-content-end">
          <a href="#" class="card-link text-dark" >voir plus <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-warning shadow">
        <div class="card-body text-white">
          <h2><span class="fa fa-commenting"></span> Forum {{nombreForum}}</h2>
        </div>
        <div class="card-footer align-content-end">
          <a href="#" class="card-link text-white" >voir plus <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <app-utilisateur-table></app-utilisateur-table>
  <app-list-stages></app-list-stages>
  <app-rapport-table></app-rapport-table>
  </div>

