<div class="row card ">
  <div class="card-header bg-dark text-white">
    <h1><span class="fa fa-dashboard"></span> Dashboard</h1>
  </div>
  <div class="card-body row">
    <div class="col-md-3">
        <div class="card bg-info shadow">
          <div class="card-body text-white">
            <h2><span class="fa fa-users"></span> Utilisateurs {{nombreUsers}}</h2>
          </div>
          <div class="card-footer">
            <a routerLink="../../admin/utilisateurs" class="text-decoration-none text-white float-right">Voir plus <span class="fa fa-plus"></span></a>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-success shadow">
        <div class="card-body text-white">
          <h2><span class="fa fa-tasks"></span> Stages {{nombreStages}}</h2>
        </div>
        <div class="card-footer">
          <a routerLink="../../admin/stages" class="text-decoration-none text-white float-right">Voir plus <span class="fa fa-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-white shadow">
        <div class="card-body text-dark">
          <h2><span class="fa fa-file-pdf-o"></span> Rapports {{nombreRepport}}</h2>
        </div>
        <div class="card-footer">
          <a routerLink="../../admin/rapports" class="text-decoration-none text-dark float-right">Voir plus <span class="fa fa-plus"></span></a>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-warning shadow">
        <div class="card-body text-white">
          <h2><span class="fa fa-commenting"></span> Forum {{nombreForum}}</h2>
        </div>
        <div class="card-footer">
          <a routerLink="/forum" class="text-decoration-none text-white float-right">Voir plus <span class="fa fa-plus"></span></a>
        </div>
      </div>
    </div>
  </div>
  <app-utilisateur-table></app-utilisateur-table>
  <app-list-stages></app-list-stages>
  <app-rapport-table></app-rapport-table>
  <app-statistics></app-statistics>
  </div>


