<div  class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"><span class="fa fa-user"></span> Créer un Utilisateur :</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="userForm" >

          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <input type="text" id="unom" class="form-control"  formControlName="unom" required="true" placeholder="nom...">
              </div>
              <div *ngIf="unom.invalid && (unom.touched || unom.dirty)">
                <div *ngIf="unom.errors.required" class="text-warning">Nom est obligatoire!</div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <input type="text" id="uprenom" class="form-control "formControlName="uprenom" required="true" placeholder="prénom..">
              </div>
              <div *ngIf="uprenom.invalid && (uprenom.touched || uprenom.dirty)">
                <div *ngIf="uprenom.errors.required" class="text-warning">prénom est obligatoire!</div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <input type="email" id="uemail" class="form-control"  formControlName="uemail" required="true" email="true" placeholder="E-mail...">
              </div>
              <div *ngIf="uemail.invalid && (uemail.touched || uemail.dirty)">
                <div *ngIf="uemail.errors" class="text-warning">Erreur dans E-mail!</div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="password..." id="upwd"  formControlName="upwd"  required="true" value="{{upwd.value}}">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="upwd.value = password"><span class="fa fa-lock"></span></button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 my-2">
              <div class="dropdown">
                <button class="btn bg-light btn-block dropdown-toggle shadow-sm" data-toggle="dropdown" aria-expanded="false">Role</button>
                <ul class="dropdown-menu shadow-sm" role="menu">
                  <li class="dropdown-item" (click)="role = '1'">Etudiant</li>
                  <li class="dropdown-item" (click)="role = '2'">Coordinateur</li>
                </ul>
              </div>
            </div>

            <div *ngIf=" role == '1'" class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="cne"  formControlName="cne" required="true" placeholder="CNE...">
                  </div>
                  <div *ngIf="cne.invalid && (cne.touched || cne.dirty)">
                    <div *ngIf="cne.errors.required" class="text-warning">CNE est obligatoire!</div>
                    <div *ngIf="cne.errors.maxLength" class="text-warning">CNE contient 10 caractères!</div>
                    <div *ngIf="cne.errors.minLength" class="text-warning">CNE contient 10 caractères!</div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id= "codeAppoge"  formControlName="codeAppoge" required="true" placeholder="Code d'appogé...">
                  </div>
                  <div *ngIf="codeAppoge.invalid && (codeAppoge.touched || codeAppoge.dirty)">
                    <div *ngIf="codeAppoge.errors.required" class="text-warning">code d'appogé est obligatoire!</div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="role == '2'" class="col-12">
              <div class="row">

                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="rpp"  formControlName="rpp" required="true" placeholder="Rpp...">
                  </div>
                  <div *ngIf="rpp.invalid && (rpp.touched || rpp.dirty)">
                    <div *ngIf="rpp.errors.required" class="text-warning">Rpp est obligatoire!</div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <div class="dropdown">
                      <button class="btn bg-light btn-block dropdown-toggle shadow-sm" data-toggle="dropdown" aria-expanded="false">Filière</button>
                      <ul class="dropdown-menu shadow-sm" role="menu">
                        <li class="dropdown-item" (click)="selectedFiliere = 'test'">Test filiere</li>
                        <li *ngFor="let f of filieres" class="dropdown-item" (click)="selectedFiliere = f.libelle">{{f.libelle}}</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-info btn btn-block my-2"  [disabled]="validate()" (click)="create(userForm.value)">Enregister <span class="fa fa-check"></span></button>
      </div>
    </div>
  </div>
</div>
