<div class="d-flex justify-content-center align-items-center my-4">

  <div class="card mt-3 shadow-sm" style="width: 600px">
    <div class="card-img d-flex justify-content-center align-items-center bg-light py-2">
      <img alt="image de profile" class="rounded-circle " height="80px" src="{{picture}}" width="80px">
      <button (click)="editInfos.photo = !editInfos.photo" class="btn bg-transparent border-0 ml-2"><span
        class="fa fa-pencil pull-right text-dark mb-0"></span></button>

    </div>
    <div class="card-body">
      <div class="text-body text-center">
        <h1><span class="fa fa-user"></span> Profile informations</h1>
      </div>
      <div *ngIf="editInfos.photo" class="input-group  ">
        <div class="input-group-prepend">
          <div class="input-group-text">Photo</div>
        </div>
        <input class="form-control " style="width: 100px" type="file">
        <div class="input-group-append">
          <button class="btn btn-info" data-placement="right" data-toggle="tooltip"
                  title="Modifier la photo de profile"><span class="fa fa-check"></span></button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              <h4><b>Nom:</b> {{user.nom}}
                <button (click)="editInfos.nom = !editInfos.nom" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.nom" class="col-md-6">
              <div class="input-group">
                <input [(ngModel)]="user.nom" class="form-control form-control-sm" type="text">
                <div class="input-group-append">
                  <button (click)="editInfos.nom = !editInfos.nom" class="btn btn-sm btn-light text-dark border-dark"
                          data-placement="right" data-toggle="tooltip" title="Modifier le nom"><i
                    class="fa fa-check-circle"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4><b>Prénom:</b> {{user.prenom}}
                <button (click)="editInfos.prenom = !editInfos.prenom" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.prenom" class="col-md-6">
              <div class="input-group">
                <input [(ngModel)]="user.prenom" class="form-control form-control-sm" type="text">
                <div class="input-group-append">
                  <button (click)="editInfos.prenom = !editInfos.prenom" class="btn btn-sm btn-light text-dark border-dark"
                          data-placement="right" data-toggle="tooltip"
                          title="Modifier le prénom"><i class="fa fa-check-circle"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4><b>Email:</b> {{user.username}}
                <button (click)="editInfos.email = !editInfos.email" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.email" class="col-md-6">
              <div class="input-group">
                <input [(ngModel)]="user.username" class="form-control form-control-sm" type="email">
                <div class="input-group-append">
                  <button (click)="editInfos.email = !editInfos.email"
                          class="btn btn-sm btn-light text-dark border-dark" data-placement="right"
                          data-toggle="tooltip" title="Modifier le email"><i class="fa fa-check-circle"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4><b>Adress:</b> {{user.adress}}
                <button (click)="editInfos.adress = !editInfos.adress" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.adress" class="col-md-12">
              <div class="input-group">
                <input [(ngModel)]="user.adress" class="form-control form-control-sm" type="text">
                <div class="input-group-append">
                  <button (click)="editInfos.adress = !editInfos.adress" class="btn btn-sm btn-light text-dark border-dark"
                          data-placement="right" data-toggle="tooltip"
                          title="Modifier le adress"><i class="fa fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4><b>Téléphone:</b> {{user.tele}}
                <button (click)="editInfos.tele = !editInfos.tele" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.tele" class="col-md-6">
              <div class="input-group">
                <input [(ngModel)]="user.tele" class="form-control form-control-sm" type="text">
                <div class="input-group-append">
                  <button (click)="editInfos.tele = !editInfos.tele" class="btn btn-sm btn-light text-dark border-dark"
                          data-placement="right" data-toggle="tooltip" title="Modifier le téléphone"><i
                    class="fa fa-check-circle"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <h4><b>Date de naissance:</b> {{user.dateNaissance}}
                <button (click)="editInfos.dateNaissance = !editInfos.dateNaissance"
                        class="btn bg-transparent border-0 "><span class="fa fa-pencil"></span>
                </button>
              </h4>
            </div>
            <div *ngIf="editInfos.dateNaissance" class="col-md-5">
              <div class="input-group">
                <input [(ngModel)]="user.dateNaissance" class="form-control form-control-sm" type="date">
                <div class="input-group-append">
                  <button (click)="editInfos.dateNaissance = !editInfos.dateNaissance"
                          class="btn btn-sm btn-light text-dark border-dark" data-placement="right"
                          data-toggle="tooltip" title="Modifier la date de naissance"><i
                    class="fa fa-check-circle"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4><b>Sexe:</b> {{user.sexe}}
                <button (click)="editInfos.sexe = !editInfos.sexe" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.sexe" class="col-md-6">
              <div class="form-check form-check-inline mt-2">
                <input [checked]="user.sexe == 'homme' || user.sexe == 'Homme' " class="form-check-input" id="homme" type="checkbox"
                       value="homme">
                <label class="form-check-label" for="homme">Homme</label>
              </div>
              <div class="form-check form-check-inline mt-2">
                <input [checked]="user.sexe == 'femme' || user.sexe == 'Femme' " class="form-check-input" id="femme" type="checkbox"
                       value="femme">
                <label class="form-check-label" for="femme">Femme</label>
              </div>
            </div>
          </div>
          <div
            class="row alert alert-warning text-center  d-flex justify-content-center justify-items-center shadow-sm">
            <p><b>Les données de sécurité</b>
              <button (click)="securityData=!securityData" class="btn bg-transparent border-0 "><span
                class="fa fa-pencil "></span></button>
            </p>
          </div>
          <div *ngIf="securityData" class="row alert alert-light shadow-sm">
            <div class="col-md-12">
              <h4><b>Mot de Passe </b>
                <button (click)="editInfos.pwd = !editInfos.pwd" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.pwd" class="col-md-6">
              <label>Ancien mot de passe*</label>
              <div class="input-group">
                <input [(ngModel)]="OldPassword" class="form-control form-control-sm" type="password">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-light text-dark border-dark" data-placement="right"
                          data-toggle="tooltip" title="ancien mot de passe"><i class="fa fa-eye"></i></button>
                </div>
              </div>
            </div>

            <div *ngIf="editInfos.pwd" class="col-md-6">
              <label>Nouveau mot de passe*</label>
              <div class="input-group">
                <input [(ngModel)]="newPassword" class="form-control form-control-sm" type="password">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-light text-dark border-dark" data-placement="right"
                          data-toggle="tooltip" title="nouveau mot de passe"><i class="fa fa-eye"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <h4><b>Question de sécurité </b>
                <button (click)="editInfos.question = !editInfos.question" class="btn bg-transparent border-0 "><span
                  class="fa fa-pencil"></span></button>
              </h4>
            </div>
            <div *ngIf="editInfos.question" class="col-md-6">
              <label for="q">Questions:</label>
              <select [(ngModel)]="question" class="form-control" id="q">
                <option value="Quel est votre livre préféré?">Quel est votre livre préféré?</option>
                <option value="Quel est votre ami(e) de l'enfance?">Quel est votre ami(e) de l'enfance?</option>
                <option value="quelle chanson vous ecouter la plupart du temps?">quelle chanson vous ecouter la plupart
                  du temps?
                </option>
              </select>
            </div>
            <div *ngIf="editInfos.question" class="col-md-6">
              <label for="reponse">Réponse:</label>
              <input [(ngModel)]="reponse" class="form-control" id="reponse" type="text">
            </div>
            <div *ngIf="editInfos.question" class="col-md-6">
              <label>Mot de passe*</label>
              <div class="input-group">
                <input [(ngModel)]="OldPassword" class="form-control form-control-sm" type="password">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-light text-dark border-dark" data-placement="right"
                          data-toggle="tooltip" title="mot de passe"><i class="fa fa-eye"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <button (click)="checkPassword()" class="btn btn-danger my-2 float-right">valider <span
                class="fa fa-check-circle"></span></button>
            </div>
          </div>
          <flash-messages></flash-messages>
          <button (click)="update()" [disabled]="securityData && !validatePassword" class="btn btn-outline-info float-right btn-block"
                  data-placement="right" data-toggle="tooltip"
                  title="sauvegarder les modifications">Enregistrer <span class="fa fa-check"></span></button>

        </li>
      </ul>
    </div>
  </div>

</div>
