<div class="table-responsive">
  <table class="table table-striped   my-4  shadow">
    <tr>
      <th>Sujet</th>
      <th>Date Début</th>
      <th>Date Fin</th>
      <th>Status</th>
      <th>Filière</th>
      <th>Etudiants</th>
      <th>Encadreurs</th>
      <th>Jurys</th>
      <th>Organisme d'accueil</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>Gestion des stages</td>
      <td>10-04-2020</td>
      <td>10-06-2020</td>
      <td>-</td>
      <td>SIR</td>
      <td><i class="fa fa-eye"></i></td>
      <td><i class="fa fa-eye"></i></td>
      <td><i class="fa fa-eye"></i></td>
      <td>FSTG Marrakech</td>
      <td>
        <button class="btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Editer"><span class="fa fa-pencil"></span></button>
        <button class="btn-sm btn-danger"><span class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Supprimer"></span></button>
        <button class="btn-sm btn-info"><span class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="voir"></span></button>
      </td>
    </tr>
  </table>
</div>

