<ul class="list-group list-group-flush shadow-sm " >
  <li class="list-group-item text-center cursor">
    <img src="../../../../assets/logoStage.png" alt="" class="admin-logo">
  </li>
  <li class="list-group-item list-group-item-action cursor"><a class="text-dark" routerLink="../admin/profile"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a></li>
  <li class="list-group-item list-group-item-action cursor"><a class="text-dark" routerLink="../admin/utilisateurs"><i class="fa fa-users fa-fw"></i>Utilisateurs</a>
  </li>
  <li class="list-group-item list-group-item-action cursor"><a class="text-dark" routerLink="../admin/stages"><i class="fa fa-tasks fa-fw"></i>Stages</a></li>
  <li class="list-group-item list-group-item-action  cursor"><a class="text-dark" routerLink="../admin/rapports" ><i class="fa fa-file fa-fw"></i>Rapports</a></li>
  <li class="list-group-item list-group-item-action  cursor"><a class="text-dark" routerLink="/forum"><i class="fa fa-pencil-square fa-fw"></i>Forum</a></li>
  <li class="list-group-item list-group-item-action  cursor"><a class="text-dark" routerLink="../admin/statistics"><i class="fa fa-bar-chart-o fa-fw"></i>Statistiques</a></li>
  <li class="list-group-item list-group-item-action  cursor"><a class="text-dark" routerLink="../admin/configuration"><i class="fa fa-cogs fa-fw "></i>Settings</a></li>
</ul>
