<div class="card">
  <div class="card-header">
    <h1><span class="fa fa-line-chart"></span> Statistics</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-header bg-light">
              <div class="row">
                <div class="col-sm-8">
                  <h1 class="text-dark"><span class="fa fa-bar-chart-o "></span> Les stage d'un filière par ville </h1>
                </div>
                <div class="col-sm-4">
                  <div class="dropdown">
                    <button class="btn bg-dark btn-block dropdown-toggle shadow-sm text-white" data-toggle="dropdown" aria-expanded="false">Changer la filière</button>
                    <ul class="dropdown-menu shadow-sm" role="menu">
                      <li *ngFor="let filiere of filieres" class="dropdown-item text-dark" (click)="chartData(filiere.id)">{{filiere.abbr}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="chartdiv" style="width: 100%; height: 400px"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <app-pie></app-pie>
        </div>
      </div>
    </div>
  </div>
</div>



