<div class="card" id="content" #content>
  <div class="card-header bg-dark text-white">
    <h1><span class="fa fa-plus-circle"></span> Créer un stage</h1>
    <div class="row">
      <div class="input-group col-md-3">
        <div class="input-group-prepend bg-secondary" >
          <div class="input-group-text"><i class="fa fa-calendar"></i>Date début*</div>
          </div>
        <input type="date" class="form-control" [(ngModel)]="stage.dateDebut">
      </div>
      <div class="input-group col-md-3">
        <div class="input-group-prepend bg-secondary" >
          <div class="input-group-text"><span class="fa fa-calendar"></span> Date fin*</div>
        </div>
        <input type="date" class="form-control" [(ngModel)]="stage.dateFin">
      </div>
      <div class="input-group col-md-6">
        <div class="input-group-prepend " (click)="ajouterSujet = !ajouterSujet">
          <div class="input-group-text bg-warning">Ajouter le Sujet <span class="fa fa-chevron-circle-right" [class.fa-chevron-circle-right]="!ajouterSujet" [class.fa-chevron-circle-left]="ajouterSujet"></span></div>
        </div>
        <input type="text" class="form-control" *ngIf="ajouterSujet" placeholder="sujet de stage..."  [(ngModel)]="stage.sujet">
      </div>
    </div>
  </div>
  <div class="card-body">
    <flash-messages></flash-messages>
    <div class="card ">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h2><span class="fa fa-graduation-cap"></span> Etudiant</h2>
          </div>
          <div class="col-md-2">
                <button class="btn btn-outline-success float-right" (click)="increaseEtudiants()"> <span class="fa fa-plus"></span></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div  *ngFor="let e of etudiants;let i = index ">
          <div *ngIf="i>0">
            <button class="btn-sm btn-danger float-right shadow-none" (click)="decreaseEtudiant(i)"><span class="fa fa-minus-circle"></span></button>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label for="cin">Cin*</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="cin..." id="cin" [(ngModel)]="e.cin" [class.border-warning]=" e.cin =='' "  >
                <div class="input-group-append">
                  <button class="btn btn-dark" (click)="findEtudiantByCin(i)"><span class="fa fa-pencil"></span></button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="codeAppoge">Code d'appogé*</label>
              <input type="text" class="form-control" placeholder="code d'appogé..." id="codeAppoge" [(ngModel)]="e.codeAppoge" [class.border-warning]=" e.codeAppoge =='' ">
            </div>
            <div class="form-group col-md-3">
              <label for="nom">Nom*</label>
              <input type="text" class="form-control" placeholder="nom..." id="nom" [(ngModel)]="e.user.nom" [class.border-warning]=" e.user.nom =='' ">
            </div>
            <div class="form-group col-md-3">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" placeholder="prénom..." id="prenom" [(ngModel)]="e.user.prenom" [class.border-warning]=" e.user.prenom =='' ">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h2><span class="fa fa-university"></span>Encadreur<span class="text-danger small">(Optionel)</span></h2>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-9">
                <select  id="typeEncadreur" class="form-control text-center" [(ngModel)]="typeEnc" >
                  <option [ngValue]="'--Type Encadreur--'"
                          disabled
                          selected>--Type Encadreur--</option>
                  <option value="Encadreur de la faculté" >Encadreur de la faculté</option>
                  <option value="Encadreur de l'organisme">Encadreur de l'organisme</option>
                </select>
              </div>
              <div class="col-md-3">
                <button class="btn btn-outline-success float-right" (click)="increaseEncadrants()"> <span class="fa fa-plus"></span></button>
              </div>
            </div>

          </div>
        </div>
        </div>
      <div class="card-body ">
        <div *ngFor="let e of encadreurs;let i = index ">
          <div *ngIf="e.type != '--Type Encadreur--'">
            <div>
              <button *ngIf="i>0" class="btn-sm btn-danger float-right mt-2" (click)="decreaseEncadreur(i)"><span class="fa fa-minus-circle"></span></button>
            </div>
            <div class="row mt-2"  >
              <div *ngIf="e.type == 'Encadreur de la faculté'" class="form-group col-md-3">
                <label for="ref">Rpp*</label>
                <input type="text" class="form-control" placeholder="ref..." id="ref" [(ngModel)]="e.reference">
              </div>
              <div class="form-group col-md-3">
                <label for="nomE">Nom*</label>
                <input type="text" class="form-control" placeholder="nom..." id="nomE" [(ngModel)]="e.user.nom">
              </div>
              <div class="form-group col-md-3">
                <label for="prenomE">Prénom*</label>
                <input type="text" class="form-control" placeholder="prénom..." id="prenomE" [(ngModel)]="e.user.prenom">
              </div>
              <div class="form-group col-md-3">
                <label for="profession">Profession*</label>
                <input type="text" class="form-control" placeholder="profession..." id="profession" [(ngModel)]="e.profession" >
              </div>
            </div>
            <div class="row" >
              <div class="input-group col-md-6">
                <div class="input-group-prepend">
                  <button class="btn bg-dark"><span class="fa fa-user text-white"></span></button>
                </div>
                <input type="email" class="form-control" placeholder="email..." id="email" [(ngModel)]="e.user.email">
              </div>
              <div class="input-group col-md-6">
                <div class="input-group-prepend">
                  <button class="btn bg-dark"><span class="fa fa-lock text-white"></span></button>
                </div>
                <input type="text" class="form-control" placeholder="password..." id="pwd" disabled [(ngModel)]="e.user.motPass">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="generateP(i)">Générer un mot de passe</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10">
            <h2><span class="fa fa-building"></span> Structure d'accueil<span class="text-danger small">(Optionel)</span></h2>
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-success float-right" (click)="toggleOrganisme()"><span class="fa fa-plus" [class.fa-minus]="ajouterStructure"></span></button>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="ajouterStructure">
        <div class="row">
          <div class="col-md-3">
            <label for="raisonSocial">Raison sociale</label>
            <input type="text" class="form-control" id="raisonSocial" placeholder="raison social..." [(ngModel)]="stage.organismeAccueil.raisonSociale">
          </div>
          <div class="col-md-3">
            <label for="emailS">Email</label>
            <input type="email" class="form-control" id="emailS" placeholder="email..." [(ngModel)]="stage.organismeAccueil.email">
          </div>
          <div class="col-md-3">
            <label for="tele">Télé</label>
            <input type="text" class="form-control" id="tele" placeholder="telephone..." [(ngModel)]="stage.organismeAccueil.tele">
          </div>
          <div class="col-md-3">
            <label for="adress">Adress</label>
            <input type="text" class="form-control" id="adress" placeholder="adress" [(ngModel)]="stage.organismeAccueil.adress">
          </div>
          <div class="col-md-3">
            <label for="responsable">Responsable</label>
            <input type="text" class="form-control" id="responsable" placeholder="responsable..." [(ngModel)]="stage.organismeAccueil.responsable">
          </div>
          <div class="col-md-3">
            <label for="type">Type</label>
            <select  id="type" class="form-control" [(ngModel)]="stage.organismeAccueil.typeOrganisme.type">
              <option [ngValue]="'--SELECT--'" disabled selected>--SELECT--</option>
              <option *ngFor="let type of typeOrganismes" value="{{type.type}}">{{type.type}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="typeService">Type Service</label>
            <select  id="typeService" class="form-control" [(ngModel)]="stage.organismeAccueil.typeServiceOrganisme.type">
              <option [ngValue]="'--SELECT--'" disabled selected>--SELECT--</option>
              <option *ngFor="let type of typeServiceOrganismes" value="{{type.type}}">{{type.type}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="ville">Ville</label>
            <select  id="ville" class="form-control" [(ngModel)]="stage.organismeAccueil.ville.nom">
              <option [ngValue]="'--SELECT--'" disabled selected>--SELECT--</option>
              <option *ngFor="let ville of villes" value="{{ville.nom}}">{{ville.nom}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-info btn-block" (click)="ceateStage()">Créer <span class="fa fa-plus"></span></button>
  </div>
</div>

